.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: rgba(202, 191, 191, 0.742); /* Change arrow color to white */
  transition: color 0.3s ease; /* Add smooth transition for hover */
  font-size: 1.2em;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  font-size: 1.2em; /* Changes the arrow icon size */
}

.mySwiper .swiper-button-next:hover,
.mySwiper .swiper-button-prev:hover {
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
/* 
#F1E5D1
#DBB5B5
#C39898
#987070 */
